.footer__left {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  &_col {
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-bottom: 20px;
    span {
      border-left: 2px solid #dadada;
      height: 18px;
      align-items: center;
      display: flex;
      margin-bottom: 10px;
    }
  }
}
